@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Montserrat:wght@100;300&display=swap');body,html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navBar{
    height: 15vh;
    width: 100vw;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger{
    height: 70px;
    width: 70px;
    border: black 2px solid;
    border-radius: 7%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 5vw 0 5vw;
}

.steak{
    width: 80%;
    border: black 1px solid;
}

.logo{
    font-size: 3em;
    font-weight: bolder;
    margin: 0 5vw 0 5vw;
    font-family: 'Gabarito', sans-serif;
}

.raclettes{
    width: 100vw;
    height: 40vh;
    border: black 1px solid;
    border-radius: 7%;
    margin: 2vh 0 2vh 0;
}

.image1,.image2,.image3{

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50%;
    width: 100%;
}
.image1{
    background-image: url("r1.png");
}
.image2{
    background-image: url("r2.png");
}
.image3{
    background-image: url("r3.png");
}

.racletteBody{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}
.lien{
    display: none;
}
.pcView{
    display: block;
}
@media only screen and (min-width: 600px) {
    .burger{
        display: none;
    }
    .liens{
        display: flex;
    }
    .lien{
        display: block;
        text-decoration: none;
        color: black;
        font-size: 3em;
        font-weight: bold;
        margin: 0 5vw 0 0;
    }
    .raclettes{
        width: 20vw;
        height: 45vh;
        margin: 10px;

    }
    .racletteBody{
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
    }
    .pcView{
        display: flex;
        justify-content: space-between;

    }
}

